:root {
  --white: #fafafa;
  --black: #000;
  --input: #c2c6c9;
  --red: #dd2f2f;
  --own-mess: #bde5ff;
  --disconnection: #f79b9b;
  --message: #e7e4e4;
  --date: #706e6e;
  --thumb: #1D9BF0;
  --box-shadow: rgba(0, 0, 0, 0.2);
}

[data-theme="dark"] {
  --input: #6f6f70;
  --white: #232427;
  --black: #fff;
  --message: #444654;
  --own-mess: #2d76a7;
  --date: #d3cccc;
  --disconnection: #dd4c4c;
  --box-shadow: rgba(255, 255, 255, 0.2);
}

body, textarea, input {
  background-color: var(--white);
  color: var(--black);
}

h1, button, input {
  color: var(--black);
}

.chat {
  position: relative;
  width: 60vw;
  min-height: 90vh;
  padding: 1rem;
  margin: auto;
  border: 1px solid var(--input);
  border-radius: 1rem;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat__title,
.auth__title {
  font-size: 24px;
}

.chat__info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.chat__btn-settings {
  width: 35px;
  height: 35px;
  position: relative;
}
.chat__btn-mes-menu,
.update-btn {
  width: 30px;
  height: 30px;
}

.cancel-icon {
  stroke: var(--red);
  transition: all .2s;
}

.chat__btn-settings,
.chat__btn-mes-menu,
.update-btn {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow .2s;
}
.chat__btn-settings .settings-icon, .ok-icon,
.chat__btn-mes-menu svg {
  stroke: var(--date);
  width: 27px;
  transition: stroke .2s;
}
.ok-icon, .cancel-icon {
  width: 25px;
}

.chat__btn-settings:hover .settings-icon,
.chat__btn-mes-menu:hover svg {
  stroke: var(--thumb);
}
.cancel-icon:hover,
.ok-icon:hover {
  stroke-width: 2.5;
}
.ok-icon:hover {
  stroke: #3bee35;
}
.chat__btn-settings:hover,
.chat__btn-mes-menu:hover,
.update-btn:hover {
  box-shadow: inset 0 0 20px 0 var(--box-shadow);
}

.chat__messages {
  overflow: auto;
  height: 66vh;
  display: flex;
  flex-direction: column-reverse;
}
.chat__messages::-webkit-scrollbar {
  width: 4px; /* ширина всей полосы прокрутки */
}

.chat__messages::-webkit-scrollbar-track {
  background: transparent; /* цвет зоны отслеживания */
}

.chat__messages::-webkit-scrollbar-thumb {
  background-color: var(--input); /* цвет бегунка */
  border-radius: 30px; /* округлось бегунка */
}

.chat__message_info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.chat__message_connection,
.chat__message_disconnection {
  user-select: text;
  align-self: center;
  margin-bottom: 1rem;
  padding: 0.4rem 1.2rem;
  border-radius: 2rem;
}
.chat__message_connection {
  background-color: var(--own-mess);
}
.chat__message_disconnection {
  background-color: var(--disconnection);
}

.chat__message_connection span,
chat__message_disconnection span {
  font-weight: bold;
}

.chat__message,
.chat__message_own {
  width: fit-content;
  word-wrap: break-word;
  background-color: var(--message);
  padding: 0.4rem 1rem;
  border-radius: 1.5rem;
  max-width: 80%;
  min-width: 30%;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.chat__message_own {
  margin-right: 10px;
  background-color: var(--own-mess);
  align-self: flex-end;
}

.chat__message_username {
  user-select: text;
  font-weight: bold;
  margin-right: 20px;
}

.chat__btn-mes-menu {
  cursor: pointer;
}

.chat__mes-menu,
.chat__settings {
  position: absolute;
  z-index: 10;
  background-color: var(--white);
  top: -10px;
  white-space: nowrap;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 0 2px 6px 4px var(--box-shadow);
  border-radius: 10px;
  cursor: pointer;
}
.chat__mes-menu {
  left: -160px;
}
.chat__settings {
  left: -170px;
}

.chat__mes-menu span,
.chat__settings span {
  margin-right: 10px;
}

.chat__btn-mess-delete,
.chat__btn-mess-update,
.chat__btn-logout,
.chat__btn-theme {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 1.5rem;
  border-radius: 10px;
  transition: background-color 0.2s;
}

.chat__btn-mess-delete svg,
.chat__btn-mess-update svg,
.chat__btn-logout svg,
.chat__btn-theme svg {
  width: 20px;
  stroke: var(--date);
  transition: stroke 0.2s;
}
.chat__btn-mess-delete:hover,
.chat__btn-mess-update:hover,
.chat__btn-logout:hover,
.chat__btn-theme:hover {
  background-color: var(--message);
}
.chat__btn-mess-delete:hover svg,
.chat__btn-logout:hover svg {
  stroke: #fc3333;
}
.chat__btn-mess-update:hover svg,
.chat__btn-theme:hover svg {
  stroke: var(--thumb);
}

.chat__message_date {
  align-self: flex-end;
  font-size: 0.9rem;
  color: var(--date);
}

.chat__message_text {
  user-select: text;
  white-space: pre-wrap;
}

.update__modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 40;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--box-shadow);
}

.chat__update-old-text {
  align-self: flex-start;
  padding: 0.5rem;
  background-color: var(--white);
  border-radius: 10px;
  font-style: italic;
  white-space: pre-wrap;
  margin-bottom: 5px;
  border: 1px solid var(--input);
}

.chat__update-old-text span {
  margin-left: 5px;
  font-style: normal;
}

.update__container {
  width: 70%;
}

.chat__form {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--input);
  padding: 6px 10px;
  border-radius: 1rem;
  transition: box-shadow .2s;
}

.chat__update-form {
  background-color: var(--white);
}

.chat__textarea {
  outline: none;
  width: 88%;
  resize: none;
  font-family: inherit;
  height: 21px;
}

.chat__textarea::-webkit-scrollbar {
  width: 3px; /* ширина всей полосы прокрутки */
}
.chat__textarea::-webkit-scrollbar-track {
  background: transparent; /* цвет зоны отслеживания */
}
.chat__textarea::-webkit-scrollbar-thumb {
  background-color: var(--thumb); /* цвет бегунка */
  border-radius: 30px; /* округлось бегунка */
}

.chat__form:focus-within,
.auth__input:focus {
  box-shadow: 0 2px 5px 2px var(--box-shadow);
}

.chat__textarea::placeholder {
  font-size: 14px;
}

.chat__btn-submit {
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-icon {
  stroke: #9ea1a1;
  width: 21px;
  height: 21px;
}

.chat__picker {
  position: absolute;
  right: 30px;
  bottom: 11vh;
}

.chat__btn-emoji {
  cursor: pointer;
}

.auth {
  width: 400px;
  padding: 1rem;
  margin: auto;
  border: 1px solid var(--input);
  border-radius: 1rem;
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.auth__title {
  align-self: center;
}

.auth__form {
  display: flex;
  flex-wrap: wrap;
}

.auth__input {
  display: flex;
  align-items: center;
  outline: none;
  width: 100%;
  font-family: inherit;
  border: 1px solid var(--input);
  padding: 8px 12px;
  border-radius: 1rem;
  transition: box-shadow .2s;
  margin-bottom: 15px;
}
.auth__input:first-child {
  margin-top: 20px;
}

.auth__error {
  margin-bottom: 15px;
  margin-top: -10px;
  display: flex;
  align-items: center;
  height: 1.6rem;
}

.auth__error span {
  color: var(--red);
  margin-bottom: 5px;
}

.error-icon {
  width: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

.auth__btn {
  padding: 0.4rem 2rem;
  border: 1px solid var(--input);
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 15px;
  margin-left: auto;
  transition: all .2s;
}

.auth__btn:hover {
  background-color: var(--thumb);
  color: white;
}

.auth__btn:disabled {
  cursor: default;
  pointer-events: none;
  border: 1px solid var(--input);
}

@media (max-width: 768px) {
  .chat {
    width: 80vw;
    min-height: 95vh;
  }

  .chat__picker {
    transform: scale(0.9);
    right: 10px;
    bottom: 7vh;
  }
}

@media (max-width: 425px) {
  .chat {
    width: 95vw;
  }

  .chat__picker {
    transform: scale(0.6);
    right: -2.5rem;
    bottom: -15px;
  }

  .auth {
    width: 300px;
  }
}